.custom-btn {
    flex: 1;
    margin: 0 5px;
    text-align: center;
  }
  
  .btn-outline-dark {
    color: black;
    border: 1px solid black;
  }
  
  .btn-outline-dark:hover {
    color: white;
    background-color: grey;
  }
  
  .btn-dark {
    color: white;
    border: 1px solid black;
  }
  
  .btn-dark:hover {
    color: white;
    background-color: black;
  }
  